/* ==========================================================================
    PARTY THEME
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #6a3fd2;
$gray                       : #6e5c88;
$dark-gray                  : mix(#000, $gray, 60%);
$darker-gray                : mix(#000, $gray, 70%);
$light-gray                 : mix(#fff, $gray, 40%);
$lighter-gray               : mix(#fff, $gray, 85%);

$background                 : #f7f1ff;
$background-light           : #ffffff;
$background-lighter         : #efe6ff;
$text                       : #2b1b3d;
$link                       : #6a3fd2;
$link-dark                  : #4a2399;
$link-light                 : #5a2eb8;
$border-dark                : #cbb7f0;
$code-bg                    : #efe6ff;
$code-text                  : #3a1f6b;

/* Party theme for the site */
html[data-theme="party"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background-lighter};
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #{$border-dark};
    --global-code-background-color      : #{$code-bg};
    --global-code-text-color            : #{$code-text};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$link};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$background-lighter};
}
